* {
  font-family: "Times New Roman", Times, serif;
  color: black;
  padding: 12px;
}
p {
  font-size: 22px;
  color: rgb(127, 233, 27);
  
}
#especial {
  color: rgb(12, 214, 30);
  text-decoration: underline;
}
h1 {
  color: rgb(34, 0, 234, 0.4);
}
h2 {
  color: rgb(200, 47, 47);
  font-size: 8px;
}
h3 {
  color: rgb(80, 47, 200);
  font-size: 8px;
  text-decoration: underline;
}
.subrayado {
  color: rgb(155, 109, 57);
  text-decoration: underline;
}
a {
  color: darkgreen;
  text-decoration: none;
  font-weight: lighter;
}
a:hover {
  color: rgb(200, 47, 47);
  text-decoration: underline dashed;
  font-weight: bold;
}
a:active {
  color: #ff00ff;
  text-decoration: underline;
}
a:visited {
  color: royalblue;
  text-decoration: underline;
}
